html, body{ 
    min-height: 100vh;
    overflow: auto;
  }

.bg-default{
    background-color:#eeeeee;
    background-size:cover;
}

.btn-primary{
    background-color:#3c61cf;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

/*Google material icons*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/**/
.produto{
    border-radius:25px;
    overflow:hidden;
}

/*Erro 404*/
.error {
	color: #5a5c69;
	font-size: 7rem;
	position: relative;
	line-height: 1;
	width: 12.5rem;
}

/*Formulário por etapas*/
.tab {
    display: none;
}

input.invalid {
    background-color: #ffdddd;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/*Telas de login e cadastro*/
.d-none{
    display:none!important
}
.bg-gradient-primary{
    background-color:#0D6EFD;
    background-image:linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size:cover
}

.small,small{
    font-size:80%;
    font-weight:400
}
.o-hidden{
    overflow:hidden!important
}
.d-lg-block{
    display:block!important
}
.bg-login-image{
    background:url(/LootCommerce/assets/img/login_miku.png);
    background-position:center;
    background-size:cover
}
.bg-cadastro-image{
    background:url(/LootCommerce/assets/img/cadastro_kong.png);
    background-position:center;
    background-size:cover
}

.inline-icon {
   vertical-align: bottom;
}

.navbar-tool-text {
    display:none;
    -ms-flex-positive:0;
    flex-grow:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    padding-left:.875rem;
    transition:color 0.25s ease-in-out;
    font-size:.875rem;
    text-decoration:none !important;
    white-space:nowrap
}